/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb Print Styles
   Author: Bryce Moral
   Date:   06-16-2016

   Filename:         dwprint.css
   Supporting Files: 

*/

@page{

margin: 0.5in;
width: 8.5in;
height: 11in;

}

 #left, header,  #right, nav, aside, footer,  header h2, article p:last-child {

display: none;

}

h1 {

font-size: 200%;
margin-bottom: 0.2in;

}

h2 {

font-size: 150%;
margin-bottom: 0.5in;

}

li {

line-height: 1.5em;

}

ol {

margin-left: 0.5in;
list-style-type: decimal;

}

h2:nth-last-child(2n + 1) {
	page-break-before:always;
}
